.bg-image{
background-image: url('images/picture1.jpg');
background-position: center;
background-size: cover;
 
}
.btn-1{

    border: none;
    color: gray;
    padding: 8px;
    
}
.btn-lg{
    font-size: 30px;
    font: bolder;
    color: rgba(18, 6, 241, 0.944);
    border-bottom:  solid;
    border-radius: none;
    margin-bottom: 40px;
}
.container{
    padding-top: 500px;
    color: white;
    
}

.bg-image2{
    background-color: grey;
     

}
.pic{
    height: 40vh;
}
.text-primary{
    margin-bottom: 50px;
}
.third{
    background-color: lightgray;
    height: 25vh;
}
.image3{
    padding-top: 50px;
    padding-bottom: 60px;

}
.list{
    text-align: left;
}

.picture-1{
    background-image: url('images/sam-moghadam-khamseh-Z4Q9KHw9ofE-unsplash.jpg');
    background-size: cover;

}

.picture-2{
    background-image: url('images/picture1.jpg');
    background-size: cover;
}
.icons{
    padding: 15px;
}