*{
    margin: 0;
    padding: 0;
}
.bg-image{
    justify-content: center;
    text-align: left;

}
.btn-1{
    border: none;
    color: gray;
    padding: 8px;
}
.btn-lg{
    color: rgba(255, 0, 0, 0.659);
    border-bottom:  solid;
    border-radius: none;
}
.container{
    padding-top: 500px;
    color: white;
}